<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav" >
  <li routerLink="/">
      Request Management
      <span  class="caret"></span>
  </li>
  <li routerLink="/report">
      Query Report 
    <span  class="caret"></span>
  </li>
  <li>Edit <span  class="caret"></span></li>
  <li>Admin <span  class="caret"></span></li>
  <li routerLink="/account">Account <span  class="caret"></span></li>
  <li>
    {{name}}
  </li>
</ul>
<router-outlet [@routerTransition]></router-outlet>
  

